<% @places.each do |place| %>

<div class = "places col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
	<% if place.user.present? %>
		<small><%= place.user.username %></small>
	<% end %>
	<% if place.state.present? %>
		<h1><%= place.city.upcase %>, <%= place.state.upcase %>, <%= place.country.upcase %></h1>
	<% else %>
		<h1><%= place.city.upcase %>, <%= place.country.upcase %></h1>
	<% end %>	
	<h2>Rating: <%= place.rating %></h2>
	<p>TravelThots: <%= place.tips %></p>

</div>
<% end %>

<div class = "clear"></div>
<%= will_paginate @places %>

