<% @places.each do |place| %>
	<% map_id = 'map' + place.id.to_s %>
	<div class = "places col-xs-12 col-sm-6 col-sm-offset-3"> 
		<% if place.user.present? %>
			<small><%= place.user.username %></small>
		<% end %>
		<% if place.state.present? %>
			<h1><%= link_to place.city, place_path(place) %>, <%= place.state %>, <%= place.country %></h1>
		<% else %>
			<h1><%= link_to place.city, place_path(place) %>, <%= place.country %></h1>
		<% end %>
		
	   <% if place.latitude.present? && place.longitude.present? %>
		    
			<div class = "maps">
				<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{place.latitude},#{place.longitude}&zoom=4&size=300x300&maptype=roadmap&markers=%7Ccolor:0x7278DD%7Clabel:#{place.rating}%7C#{place.latitude},#{place.longitude}&key=#{ENV['GOOGLE_API_KEY']}" %>
			</div>	       
	    <% end %>
	    <div class = "clear"></div>
	    <div class = "icons">
			<%= place.likers(User).count %> likes
			<% if current_user && current_user.likes?(place) %>
				<%= image_tag('blueheart.png', id: 'heart') %>
				<%= link_to image_tag('comment.png'), "#" + place.id.to_s + "Modal", :data => { :toggle => "modal"} %>
			<% else %>
				<%= link_to image_tag('heart.png', id: 'heart'), likes_path(place) %>
				<%= link_to image_tag('comment.png'), "#" + place.id.to_s + "Modal", :data => { :toggle => "modal"} %>
			<% end %>
			
		</div>

		<script>
		$("#heart").click(function(){
			$("#heart").attr("src", "<%= image_path 'blueheart.png' %>");
		})
			
		</script>
		<div class = "comments">
		<h3>Comments</h3>
		<% place.comments.each do |comment| %>
			<div class = "commentsline">
				<h4 style = "display: inline"><%= comment.user.username %>:</h4>
				<small style + 'display: inline' class = "pull-right"><%= comment.created_at.strftime("%b%d'%y") %></small>
				<p style = 'display: inline'><%= comment.comment %></p>
					
			</div>
		<% end %>
	</div>

	</div>

<!-- Modal -->
<div class="modal fade" id= "<%= place.id %>Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Comment</h4>
      </div>
      
        <%= simple_form_for @comment, url: place_comments_path(place) do |f| %>
	  		<div class = "modal-body">
		  		<%= f.input :comment %>
		  	</div>	
           <div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		<%= f.submit "Add a Comment", class: 'btn btn-primary' %>
      		</div>
      		<% end %>
      </div>
    </div>
  </div>
</div>

<% end %>



<div class = "clear"></div>
<%= will_paginate @places %>

