<% @places.each do |place| %>
	<% map_id = 'map' + place.id.to_s %>
	<div class = "places col-xs-12 col-sm-6 col-sm-offset-3"> 
		<% if place.user.present? %>
			<small><%= place.user.username %></small>
		<% end %>
		<% if place.state.present? %>
			<h1><%= link_to place.city, place_path(place) %>, <%= place.state %>, <%= place.country %></h1>
		<% else %>
			<h1><%= link_to place.city, place_path(place) %>, <%= place.country %></h1>
		<% end %>
		
	   <% if place.latitude.present? && place.longitude.present? %>
		    
			<div class = "maps">
				<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{place.latitude},#{place.longitude}&zoom=4&size=300x300&maptype=roadmap&markers=%7Ccolor:0x7278DD%7Clabel:#{place.rating}%7C#{place.latitude},#{place.longitude}&key=#{ENV['GOOGLE_API_KEY']}" %>
			</div>	       
	    <% end %>
	    <div class = "clear"></div>
		<h2>Rating: <%= place.rating %></h2>
		<p>TravelThots: <%= place.tips %></p>

	</div>


<% end %>

<div class = "clear"></div>
<%= will_paginate @places %>

