<div class = "placebox col-xs-12 col-sm-6 col-sm-offset-3">
	<h1><%= @place.city %></h1>
	<% if @place.state.present? %>
		<h2><%= @place.state %>, <%= @place.country %></h2>
	<% else %>
		<h2><%= @place.country %></h2>
	<% end %>
	<br />
	
	<% if @place.latitude.present? && @place.longitude.present? %>
  
    <script>

function initMap() {
  var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
        <div id = "map" class = "maps"></div>
        <% end %>
        <br />
	<h3>Rating: <%= @place.rating %></h3>
	<br />
	<h3>TravelThots: </h3>
	<h4><%= @place.tips %></h4>
	<br />
	
	<% if current_user && current_user == @place.user %>
		<%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
		<%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class: 'btn btn-danger' %>
	<% end %>
	<div class = "icons">
		<% if current_user %>
			<%= link_to image_tag('heart.png'), root_path %>
			<%= link_to image_tag('comment.png'), root_path %>
		<% end %>
	</div>
</div>
<div class = "formbox col-xs-12 col-sm-6 col-sm-offset-3">
	<%= simple_form_for @comment, url: '#' do |f| %>
	  <%= f.input :comment %>
	  <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
	<% end %>
</div>